footer {
    padding-top: 105px;
    background-color: $white;
    padding-bottom: 50px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    a,
    p {
        color: $gray;
        font-size: 15px;
        line-height: 22.5px;
        text-align: center;
    }
}

@media (min-width: 998px) {
    footer {
        padding-top: 77px;
        padding-bottom: 30px;
    }

    .footer-row {
    a,
    p {
        color: $gray;
        font-size: 12px;
        line-height: 18px;
    }
    }
}

@media (max-width: 640px) {
    footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .footer {
        &-row {
            flex-direction: column;
            align-items: center;

            a {
                margin-bottom: 10px;
            }
        }
    }
}