footer {
    padding-top: 151px;
    background-color: $white;
    padding-bottom: 50px;
    margin-top: -1px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    a,
    p {
        color: $gray;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    footer {
        padding-top: 120px;
        padding-bottom: 30px;
    }
}

@media (max-width: 640px) {
    footer {
        padding-top: 70px;
        padding-bottom: 30px;
    }
    .footer {
        &-row {
            flex-direction: column;
            align-items: center;

            a {
                margin-bottom: 10px;
            }
        }
    }
}