header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 640px) {
    img {
        width: 96px;
    }
    .header-pre {
        font-size: 13px;
        line-height: 19.5px;
    }
}