.input {
    &-wrapper {
        position: relative;

        &.error {
            &:after {
                content: '';
                position: absolute;
                top: 17px;
                right: 20px;
                width: 24px;
                height: 24px;
                background-image: url('/assets/images/icons/alert-circle.svg');
                background-position: center;
            }

            input {
                padding-right: 50px;
            }

            button {
                display: none;
            }
        }

        button {
            position: absolute;
            top: 17px;
            right: 20px;
        }
    }

    &-password {
        input {
            padding-right: 50px;
        }
    }
}

.error-message {
    width: 100%;
    position: absolute;
    bottom: -20px;
    left: 0;
    font-family: 'PlusJakartaSans-Regular', serif;
    font-size: 12px;
    line-height: 18px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $error;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

input {
    width: 100%;
    height: 57px;
    outline: none;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    background-color: #F6EEF5;
    font-family: 'PlusJakartaSans-Regular', serif;
    border: 1px solid #F6EEF5;
    font-size: 15px;
    line-height: 22.5px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $text;
    transition: .2s ease;

    &:focus,
    &.filled {
        background-color: #ECDAEA;
        border-color: #ECDAEA;
    }

    &.error {
        border-color: $error;

        &:hover {
            border-color: $error;
        }
    }

    &::placeholder {
        font-family: 'PlusJakartaSans-Regular', serif;
        font-size: 15px;
        line-height: 22.5px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $gray;
    }
}

@media (max-width: 768px) {
    input {
        height: 53px;
    }
}

@media (max-width: 640px) {
    input {
        height: 47px;
        padding: 12px 20px;

        &,
        &::placeholder {
            font-size: 15px;
            line-height: 22.5px;
        }
    }

    .input {
        &-wrapper {
    
            &.error {
                &:after {
                    top: 12px;
                    right: 10px;
                }
            }
    
            button {
                top: 12px;
                right: 10px;
            }
        }
    }
}