.main-content {

    &-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-preview {
        position: relative;
        padding-top: 74px;
    }

    &--info {
        width: 50%;

        &-text {
            display: flex;
            align-items: center;
            color: $white;
            font-size: 112px;
            line-height: 128px;
            font-family: $bold;
        }

        &-description {
            max-width: 462px;
            color: $white;
            margin-top: 18px;
            font-family: $medium;
            font-size: 20px;
            line-height: 30px;
        }

        &-link {
            width: 288px;
            height: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $semi;
            font-size: 20px;
            line-height: 30px;
            color: $violet;
            margin-top: 35px;
            background: linear-gradient(92.83deg, rgba(214, 190, 211, 0.6) -8.29%, rgba(225, 231, 255, 0.6) 114.03%);
            border-radius: 4px;

            span {
                margin-right: 10px;
            }
        }
    }

    &--preview-image {
        width: 50%;
        height: 544px;
        position: relative;
        padding-top: 17px;
        z-index: 1;

        img {
            height: 100%;
            position: absolute;
            top: 24px;
            left: 10px;
        }
    }

    &-timer {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 10px;
        position: relative;
        z-index: 1;

        h2 {
            color: $text;
        }

        &--button {
            display: none;
            align-items: flex-end;
            margin-left: 150px;
            margin-top: 6px;

            button {
                width: 360px;
                margin-right: 30px;
                margin-bottom: 6px;
                font-size: 20px;
                line-height: 30px;
                font-family: $regular;
            }

            img {
                &.image-sm {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 998px) and (max-height: 940px) {
    .main-content {
        &-preview {
            padding-top: 41px;
        }

        &--info {
            &-text {
                font-size: 88px;
                line-height: 104px;
            }

            &-description {
                font-size: 18px;
                line-height: 27px;
                margin-top: 18px;
            }

            &-link {
                margin-top: 30px;
            }
        }

        &--preview-image {
            height: 474px;

            img {
                top: 7px;
            }
        }
    }
}

@media (min-width: 998px) and (max-height: 900px) {
    .main-content {

        &--info {
            &-text {
                line-height: 96px;
            }

            &-description {
                margin-top: 25px;
            }

            &-link {
                width: 219px;
                height: 43px;
                font-size: 15px;
                line-height: 22.5px;
                margin-top: 20px;
            }
        }

        &--preview-image {
            height: 414px;

            img {
                top: 7px;
            }
        }
    }
}

@media (min-width: 998px) and (max-height: 850px) {
    .main-content {

        &--info {
            &-text {
                font-size: 72px;
                line-height: 90px;
            }

            &-description {
                margin-top: 16px;
            }

            &-link {
                margin-top: 15px;
            }
        }

        &--preview-image {
            img {
                top: 0;
            }
        }
    }
}

@media (max-width: 997px) {
    .main-content {

        &-preview {
            padding-top: 60px;
        }
        
        &--info {
            width: 59%;

            &-text {
                font-size: 72px;
                line-height: 81px;
                margin-bottom: 10px;
            }

            &-description {
                max-width: 400px;
                margin-top: 36px;
                font-size: 18px;
                line-height: 27px;
            }

            &-link {
                margin-top: 30px;

                span {
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }

        &--preview-image {
            width: 41%;

            img {
                top: -12px;
                left: -37px;
            }
        }

        &-timer {
            display: flex;
            margin-top: 59px;

            h2 {
                font-family: $regular;
                font-size: 20px;
                line-height: 30px;
                font-weight: 400;
                color: $text;
            }
        }
    }
}

@media (max-width: 640px) {
    .main-content {

        &-preview {
            padding-top: 23px;
        }

        &--info {
            width: 100%;

            &-text {
                font-size: 48px;
                line-height: 55px;
                margin-bottom: 0;
            }

            &-description {
                max-width: 100%;
                margin-top: 14px;
                font-size: 15px;
                line-height: 22.5px;
            }

            &-link {
                width: 195px;
                height: 40px;
                margin-top: 10px;

                span {
                    font-size: 13px;
                    line-height: 19.5px;
                    margin-right: 5px;
                }
            }
        }

        &--preview-image {
            display: none;
        }

        &-timer {
            margin-top: 48px;

            h2 {
                font-size: 15px;
                line-height: 22.5px;
            }

            &--button {
                display: flex;
                width: 100%;
                margin: 0;
                padding: 0 20px;
                margin-top: 9px;

                button {
                    width: 100%;
                    margin: 0;
                    font-size: 15px;
                    line-height: 22.5px;
                }

                img {
                    display: none;

                    &.image-sm {
                        display: none;
                    }
                }
            }
        }
    }
}