.main-form {
    padding-top: 133px;
    background-color: $white;
    position: relative;

    &-row {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }

    &--info {
        p {
            max-width: 550px;
            color: $violet;
            margin-bottom: 30px;
        }
    }

    &--fields {
        width: 598px;

        .input {
            &-wrapper {
                width: 100%;
                margin-bottom: 30px;
            }
    
            &-username {
                margin-bottom: 40px;
            }
        }

        &-footer {
            display: flex;
            padding-top: 30px;
            margin-top: 10px;
            margin-bottom: 40px;
            border-top: 1px solid $violet40;

            p {
                color: $textLight;
                line-height: 23.5px;
                margin-right: 52px;
            }

            span {

            }
    
            a { 
                color: $violet40;
    
                &:hover {
                    color: $violet40;
                }
            }

            button {
                width: 186px;
                flex-shrink: 0;
            }
        }
    }
}

@media (max-width: 997px) {
    .main-form {
        &--fields {
            max-width: 400px;
            width: 100%;

            .input {
                &-wrapper {
                    width: 100%;
                    margin-bottom: 35px;
                }

                &-username {
                    margin-bottom: 40px;
                }
            }

            p {
                font-size: 13px;
                line-height: 19.5px;
                margin-right: 20px;
            }
        }

        &--info {
            max-width: 310px;

            p {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .main-form {
        padding-top: 103px;
        overflow: hidden;
    }
}

@media (max-width: 640px) {
    .main-form {
        padding-top: 42px;

        &-row {
            flex-direction: column;
        }

        &--fields {
            max-width: 100%;
            
            .input {
                &-wrapper {
                    margin-bottom: 25px;
                }

                &-username {
                    margin-bottom: 30px;
                }
            }

            &-preview p {
                margin: 28px 0;
            }

            &-footer {
                flex-direction: column;
                padding-top: 25px;

                p {
                    margin-right: 0;
                    margin-bottom: 30px;
                }

                button {
                    width: 100%;
                    font-size: 15px;
                    line-height: 22.5px;
                }
            }
        }

        &--info {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            p {
                max-width: 100%;
                margin-bottom: 0;
            }
        }
    }
}