.main-form {
    padding-top: 122px;
    position: relative;

    &-row {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }

    &--info {
        p {
            max-width: 445px;
            color: $violet;
            margin-bottom: 30px;
            font-family: $semi;
            font-size: 42px;
            line-height: 52.92px;
        }
    }

    &--fields {
        width: 701px;

        .input {
            &-wrapper {
                width: 100%;
                display: flex;
                margin-top: 16px;
                margin-bottom: 20px;

                input {
                    height: 70px;
                }

                button {
                    width: 186px;
                    height: 70px;
                    position: relative;
                    top: 0;
                    right: 0;
                    font-size: 20px;
                    line-height: 30px;
                    font-family: $regular;
                    margin-left: 20px;
                    flex-shrink: 0;
                }
            }
        }

        &-footer {
            display: flex;

            p {
                color: $textLight;
                line-height: 23.5px;
                font-family: $regular;
                font-size: 12px;
                line-height: 18px;
            }

            span {
                font-family: $medium;
            }
    
            a { 
                color: $violet40;
                font-family: $regular;
                font-size: 12px;
                line-height: 18px;
    
                &:hover {
                    color: $violet40;
                }
            }

            button {
                &.mobile {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 998px) and (max-height: 940px) {
    .main-form {
        padding-top: 82px;
    }
}

@media (min-width: 998px) and (max-height: 900px) {
    .main-form {
        padding-top: 77px;
    }
}

@media (min-width: 998px) and (max-height: 850px) {
    .main-form {
        padding-top: 60px;
    }
}

@media (max-width: 997px) {
    .main-form {
        padding-top: 108px;

        &--fields {
            max-width: 400px;
            width: 100%;

            .input {
                &-wrapper {
                    width: 100%;
                    margin-top: 8px;
                    margin-bottom: 21px;
                }

                &-username {
                    margin-bottom: 40px;
                }
            }

            p {
                font-size: 13px;
                line-height: 19.5px;
                margin-right: 30px;
            }

            button {
                display: none;

                &.mobile {
                    width: 186px;
                    display: flex;
                    font-size: 20px;
                    line-height: 30px;
                    font-family: $regular;
                }
            }
        }

        &--info {
            max-width: 310px;

            p {
                max-width: 100%;
                font-size: 32px;
                line-height: 40px;
            }
        }
    }
}

@media (max-width: 640px) {
    .main-form {
        padding-top: 60px;

        &-row {
            flex-direction: column;
        }

        &--fields {
            max-width: 100%;
            
            .input {
                &-wrapper {
                    margin-top: 0;
                    margin-bottom: 11px;

                    input {
                        height: 49px;
                    }
                }

                &-username {
                    margin-bottom: 30px;
                }
            }

            &-preview p {
                margin: 28px 0;
            }

            &-footer {
                flex-direction: column-reverse;

                p {
                    margin: 21px 0 40px 0;
                }
            }

            button.mobile {
                width: 100%;
                font-size: 15px;
                line-height: 22.5px;
            }
        }

        &--info {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            p {
                max-width: 100%;
                font-size: 28px;
                line-height: 34px;
                margin-bottom: 0;
            }
        }
    }
}