.main-timer {
    display: flex;

    > div {
        display: flex;
        align-items: center;
    }

    span {
        display: block;
        font-family: "RalewayMedium", serif;
        font-size: 36px;
        line-height: 54px;
        color: $text;
        font-feature-settings: 'pnum' on, 'lnum' on;

        &.value {
            margin-right: 10px;
            &.hours,
            &.minutes,
            &.secondes {
                width: 42px;
            }
        }

        &.mean {
            margin-right: 20px;
        }
    }
}

@media (max-width: 1024px) {
    .main-timer {
        span {
            font-size: 28px;
            line-height: 42px;

            &.value {
                margin-right: 5px;
                &.hours,
                &.minutes,
                &.secondes {
                    width: 33px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main-timer {
        margin-top: 10px;

        span {
            &.mean {
                margin-right: 15px;
            }
        }

        > div {
            &:last-child {
                span {
                    &.mean {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .main-timer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 3px;
        padding: 0 25px;

        span {
            &.value {

                margin-right: 0;
            }
            &.mean {
                font-size: 13px;
                line-height: 19.5px;
                margin-right: 0;
            }
        }

        > div {
            flex-direction: column;
            align-items: center;
        }
    }
}